.App {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Poppins, sans-serif;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.darken {
}

.darken::after {
  content: "";
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 30%, black 100%);
  transition: transform 0.5s ease;
}

.darken:hover::after {
  display: block;
  z-index: 2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent 10%, #f61b10, #590223);
  transition: transform 0.5s ease;
}

.activeNav {
  border-bottom: solid 2px red;
}
